form {
  margin-bottom: 0;
}

form input[type=checkbox] {
  display: none;
}

form input[type=checkbox]:checked + label span {
  background-color: #249991;
}

form input[type=checkbox]:checked + label span:after {
  left: 49px;
  transition: all .3s ease;
}

form label {
  cursor: pointer;
}

form label i {
  font-style: normal;
  font-size: 30px;
  line-height: 1.7;
  font-weight: bold;
}

form label span {
  position: relative;
  float: left;
  margin-right: 10px;
  margin-bottom: 15px;
  display: block;
  width: 100px;
  height: 50px;
  background-color: #42f4a1;
  border-radius: 50px;
  box-shadow: inset 0 0 7px 2px rgba(0, 0, 0, 0.3);
  transition: all .6s ease-in-out;
}

form label span:after {
  content: " ";
  display: block;
  position: absolute;
  width: 50px;
  height: 96%;
  background-color: #fff;
  border-radius: 50%;
  left: 1px;
  top: 2%;
  box-shadow: inset 5px -5px 17px 9px rgba(0, 0, 0, 0.2), 0 0 4px 2px rgba(0, 0, 0, 0.2);
}

.wrapper {
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
}

.wrapper #header {
  font-family: sans-serif;
  font-size: 16px;
}

input:focus {
  outline: none;
}

input[type=submit] {
  font-size: 20px;
  padding: 5px 20px;
  font-weight: bold;
  background-color: #24881f;
  margin-top: 20px;
  color: #fff;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.4s;
}

input[type=submit]:hover {
  background-color: #39c931;
}

input#enter-num {
  width: 70px;
  font-size: 20px;
  text-align: center;
  margin-bottom: 30px;
}

input#push-words {
  margin: 0 0 10px 0;
}

input#help {
  margin-bottom: 10px;
}

#hide-block {
  position: relative;
  transition: 0.2s;
  cursor: pointer;
  position: fixed;
  right: -80px;
  top: 50%;
  transform: translateY(-50%);
  display: none;
}

#hide-block #active-block {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}

#push-elements {
  font-size: 25px;
  margin-top: 10px;
  margin: 0 auto;
}

#push-elements td {
  display: block;
}

#push-elements input {
  font-size: 20px;
  max-width: 150px;
}

#push-elements i {
  display: inline-block;
  cursor: pointer;
  padding: 10px;
  background-color: #24881f;
  border-radius: 100%;
  color: #fff;
  margin-left: 10px;
  transition: 0.2s;
  font-style: normal;
}

#push-elements i:hover {
  background-color: #39c931;
}

#show-all-words {
  font-size: 25px;
  border-collapse: collapse;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

#show-all-words th {
  background-color: #999;
  color: #fff;
}

#show-all-words td {
  border: 1px solid;
  padding: 5px 0 5px 5px;
}

#show-all-words tr {
  margin: 0 auto;
}

.clearfix {
  clear: both;
}

@media screen and (max-width: 500px) {
  #show-all-words {
    font-size: 15px;
  }
}
